{% extends 'book/base_visitor.html' %}
{% block title %}Reset Password{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Reset your Password</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{%url 'user:reset_password'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                       <div class="form-group">
                            <label class="control-label col-sm-2" for="id_password">
                                New Password:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_password" maxlength="30" name="password" type="password" required>
                            </div>
                        </div>
                        <input name="user_id" value="{{ user_id }}" type="hidden">
                        <input name="token" value="{{ token }}" type="hidden">

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_confirm_password">
                                Confirm Password:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_confirm_password" maxlength="30" name="confirm_password" type="password" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}