{% extends 'book/base.html' %}
{% block title %}Add New Book{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Update Book</h3>
                    {% if book %}
                        {% if error_message %}
                            <p style="color:red;"><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="." enctype="multipart/form-data" method="post">{% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_name">
                                    Name:
                                </label>
                                <div class="col-sm-10">
                                    <input id="id_name" name="name" type="text" {% if book is not None %}value="{{ book.name }}"{% endif %}required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_author">
                                    Author:
                                </label>
                                <div class="col-sm-10">
                                    <input id="id_author" name="author" type="text" value="{{ book.author }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_publication_address">
                                    Publication Address:
                                </label>
                                <div class="col-sm-10">
                                    <input id="id_publication_address" name="publication_address" type="text" value="{{ book.publication_address }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_edition">
                                    Edition:
                                </label>
                                <div class="col-sm-10">
                                    <input id="id_edition" name="edition" type="text" value="{{ book.edition }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_description">
                                    Description:
                                </label>
                                <div class="col-sm-20">
                                    <input id="id_description" name="description" type="text" value="{{ book.description }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_publication_date">
                                    Publication Date:
                                </label>
                                <div class="col-sm-10">
                                    <input id="id_publication_date" name="publication_date" type="date" value="{{ book.publication_date|date:"Y-m-d" }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                {% else %}
                    <h3>No book found</h3>
                {% endif %}
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}